<?xml version="1.0" encoding="UTF-8" ?>
<server-config>
    <http>
        <server>
            <static>
                <root>/static</root>
            </static>
        </server>
        <dynamic>
            <url-pattern>/forum</url-pattern>
            <upstream-url>10.10.5.126:8080</upstream-url>
        </dynamic>
    </http>
</server-config> 